################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Polymorphism/bin/Debug/net9.0
/Polymorphism/obj
/TestApp/bin/Debug/net9.0
/TestApp/obj
