################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Polymorphism/bin/Debug/net9.0
/Polymorphism/obj
/TestApp/bin/Debug/net9.0
/TestApp/obj
/Common/bin/Debug/net9.0
/Common/obj
/DIApp/bin/Debug/net9.0
/DIApp/obj
/DIDemoApp/bin/Debug/net9.0
/DIDemoApp/obj
/TaskManagement/bin/Debug/net9.0
/TaskManagement/obj
/TaskManagementWebAPi/bin/Debug/net8.0
/TaskManagementWebAPi/obj
