@using TaskManagement.Model;
@model TaskModel
@{
    ViewData["Title"] = "Edit Task";
    Layout = "_Layout";
}
<script src="~/js/task.js"></script>
<h4>Edit Task</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form>
            @if (!string.IsNullOrEmpty(ViewBag.Duplicate))
            {
                <div class="text-danger">@ViewBag.Duplicate</div>
            }
            <div class="row">
                <input type="hidden" id="taskId" value="@Model.Id" />
                <div class="form-group col-4 mt-2">
                    <label asp-for="TaskName" class="control-label"></label>
                    <input asp-for="TaskName" id="taskName" class="form-control" />
                </div>
                <div class="form-group col-4 mt-2">
                    <label asp-for="TaskDescription" class="control-label"></label>
                    <input asp-for="TaskDescription" id="taskDescription" class="form-control" />
                </div>
                <div class="form-group col-4 mt-2">
                    <label asp-for="TaskStatusId" class="control-label">Status Name</label>
                    <select asp-items="@Model.StatusList" id="taskStatusId" asp-for="TaskStatusId" class="form-control"></select>
                </div>
                <div class="form-group col-12 mt-2">
                    <input type="button" value="Update" onclick="UpdateTask()" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

