@using TaskManagement.Models.Models;
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "_UnRegisterLayout";
}

<link href="~/css/index.css" rel="stylesheet" />
<script src="~/js/login.js"></script>
<h4>Login</h4>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="row col-3 m-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="Email" class="form-control" />
            </div>
            <div class="row col-3 m-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="Password" class="form-control" type="password" />
            </div>

            <div class="row col-3  m-2">
                <input type="button" value="Login" onclick="LoginBtnClick()" class="btn btn-primary" />
            </div>
            <div class="row col-2 m-2">
                <a class="nav-link text-dark" href="/Register/Register">Not a user? Sign up</a>
            </div>
        </form>
    </div>
</div>